.title {
  margin-left: 1rem;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  opacity: 0.4;
  z-index: 5000;
  pointer-events: visible;
}
